@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  .grid-3 {
    gap: 1rem;
  }

  .skills-right ul li {
    font-size: 0.9rem;
  }

  .logo {
    font-size: 22px;
    margin-top: 5px;
    margin-left: 20px;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 67%; }
  }
  
  @keyframes reverseTyping {
    from { width: 67%; }
    to { width: 0; }
  }

  .hero-name {
    width: 100%; 
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 840px) {
  /* Burger */
  .burger {
    display: block;
    cursor: pointer;
    right: 20px;
  }

  .toggle-burger .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-burger .line-2 {
    opacity: 0;
  }

  .toggle-burger .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* Navigation */
  .nav {
    border-bottom: 2px solid var(--abu-abu);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white; /* Pastikan elemen tetap terlihat */
    z-index: 1000; /* Agar elemen tetap berada di atas elemen lainnya */
    height: 90px; /* Sesuaikan dengan tinggi elemen nav */
  }

  nav {
    position: fixed;
    width: 60%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: var(--primaryBackgroundColor);
    border-left: 1px solid var(--borderColor);
    z-index: 9;
    transform: translateX(100%);
    transition: 0.2s ease-in-out;
  }

  nav ul {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nav-active {
    transform: translateX(0);
  }
  /* End of Navigation */

  :root {
    --sectionPadding: 4rem 0;
    --abu-abu: #DCDCDC;
  }

  /* Titles */
  .section-title {
    font-size: 1.6rem;
    margin: 0.6rem 0 2.5rem;
  }

  .pre-title {
    font-size: 0.8rem;
  }

  /* Hero Section */
  #hero {
    grid-template-columns: 1fr;
    height: fit-content;
    margin-top: 125px;
  }

  .hero-right {
    order: -1;
  }

  .hero-right img {
    width: 70%;
  }

  .hero-left {
    text-align: center;
    padding-bottom: 5rem;
  }

  .hero-left .pre-title {
    margin: 0 auto;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes reverseTyping {
    from { width: 100%; }
    to { width: 0; }
  }

  .hero-name {
    width: 100%; 
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  /* Skills Section */
  .skills-grid {
    gap: 1rem;
  }

  /* Footer */
  footer {
    padding: 2rem 0;
  }
}

/* Mobile Size */
@media screen and (max-width: 640px) {
  /* Titles */
  .section-title {
    font-size: 1.3rem;
  }

  .pre-title {
    font-size: 0.7rem;
  }

  .logo {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
  }
}

@media screen and (min-width:1001px) and (max-width: 1150px) {
  @keyframes typing {
    from { width: 0; }
    to { width: 52%; }
  }
  
  @keyframes reverseTyping {
    from { width: 52%; }
    to { width: 0; }
  }

  .hero-name {
    width: 100%; 
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }
  
}

@media screen and (max-width: 350px) {
    /* Navigation */
    .nav {
      height: 40px; /* Sesuaikan dengan tinggi elemen nav */
    }

    .burger {
  top: 20px;

    }
}